*{
    margin: 0;
}

button:focus{
    outline: none;
}

a:visited{
    
}
/********************
        FONTS   
********************/
.Oswald{
    font-family: 'Oswald';
}
.Abel{
    font-family: 'Abel';
}
.Inconsolata{
    font-family: 'Inconsolata';
}
.Bowlby{
    font-family: 'Bowlby One SC';
}
/*********************
        HEADER
*********************/
#header{
    width: 100%;
    height: 350px;
    text-align: center;
    z-index: -2;
    background-color: #000;
    background: url(../img/CityBG.jpg) top;
    border-bottom: solid #fff 9px;
}
#head-text{
    text-align: center;
    width: 100%;
    position: absolute;
    margin-top: -215px;
    color: #fff;
}
#title-word{
    font-size: 60px;
    border: solid 5px;
}

#profile{
    width: 350px;
    height: 350px;
    border-radius: 180px;
    border:solid white 7px;
    margin-top: -110px;
    position: relative;
}
/********************
        BODY
********************/
#body-content{
    text-align: center;
    width: 100%;
    height: 100%;
}

.body-words{
    font-size: 15px;
    text-align: center;
    align-content: center;
    clear: both;
    margin:15px 4px;
}
.sub-header{
    font-size: 40px;
    padding: 20px 0px 20px 0px;
}
#current-skills{
    position:relative;
    width:500px;
    display: inline-block;
    clear: right;
    height: 400px;
}
.current-item{
    margin: 50px 10px;
    width:125px;
    display: inline-block;
}
.current-item img{
    margin-top: -45px;
    width:125px;
}
.language-info-box{
    height:70px;
    width: 200px;
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    clear: left;
}
.language-info{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #090B0B;
    float: left;
    clear: right;
}
.course-list{
    margin: 8px;
}
.course-title{
    font-size: 20px;
    font-weight: bolder;
}

li{
    margin-left: -50px;
    list-style-type: none;
}
#resume-button{
    width: 300px;
    height: 50px;
    font-size: 20px;
    background-color: #181818  ;
    border-radius: 180px;
    border:none;
    color: #fff;
    cursor:pointer;hand;
}

/********************
        FOOTER
********************/
footer{
    margin-top: 20px;
    width:100%;
    height:200px;
    background: #090B0B;
    color:#fff;
    text-align: center;
}
.footer-text{
    font-size: 16px;
}
.icons{
    padding: 7px;
}

.icon-box{
    width: 240px;
}


/*******************
    JS ANIMATIONS
*******************/
.zoom {
    width: 110px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
.transition {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.faded{
    opacity: 0.5;
}

#elusive-text{
    text-decoration: none;
    color: #5c448c;
}

#atom-text{
    text-decoration: none;
    color:#D6250A;
}

/*********************************
            ICONS
*********************************/
    /***************************
         Facebook ICON
    ***************************/
    #face{font-size: 40px;}
    #face .no-fade {
        color: white;
        float:left;
        margin-bottom: 10px;
    }
    #face .no-fade:hover {
        color: #3b5998;
        -webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
    }
    /***************************
            twitter ICON
    ***************************/
    #twit{font-size: 40px;}
    #twit .no-fade {
        color: white;
        float:left;
        margin-bottom: 10px;
    }
    #twit .no-fade:hover {
        color: #00aced;
        -webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
    }
    /***************************
         linkedIn ICON
    ***************************/
    #linked{font-size: 40px}
    #linked .no-fade {
        color: white;
        float:left;
        margin-bottom: 10px;
    }
    #linked .no-fade:hover {
        color: #007bb6;
        -webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
    }
    /***************************
           github ICON
    ***************************/
    #git{font-size: 40px}
    #git .no-fade {
        color: white;
        float:left;
        margin-bottom: 10px;
    }
    #git .no-fade:hover {
        color: #6C196C;
        -webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
    }
    /***************************
           blogger ICON
    ***************************/
    #mail{font-size: 40px}
    #mail .no-fade {
    color: white;
    float:left;
    margin-bottom: 10px;
    }
    #mail .no-fade:hover {
        color: #fb8f3d;
        -webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
    }
